.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
  @apply border-4 border-gray-50 shrink-0 w-[30%] h-[90%] rounded-3xl py-8 px-16 min-w-max;
}

@media screen and (max-device-width: 480px){
  .glass {
     @apply w-[90%] h-[50%] p-4;
     backdrop-filter: blur(3.55px);
     margin-top: 2.5rem;
     height: auto;
  }
  .textbox {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* align items to stretch vertically */
    height: 100%; /* set the height of the container to 100% */
  }
  
  /* add a class to the input fields */
  .textbox input[type="text"] {
    height: 2rem; /* set the height of the input fields */
    margin-bottom: 1rem; /* add some spacing between the input fields */
  }
  .btn{
    @apply mt-2
  }
}

.profile {
  @apply border-4 border-gray-100  w-[135px] h-[130px]  rounded-full shadow-sm cursor-pointer;
  @apply hover:border-gray-200;
}

.textbox {
  margin-bottom: 12px;
  @apply border-0 px-5 py-3  shadow-sm rounded-xl text-sm w-[170px];
  @apply focus:outline-none;
}

.btn {
  @apply border bg-indigo-500 w-[200px] h-10 rounded-md font-bold text-sm text-gray-100;
}

.btn:hover {
  background-color: #ff6a6a;
}

input[type="file"] {
  display: none;
}
